@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300;1,600&display=swap')
#header{
	max-width: 100%
	
}

.gallery .preview{
    width:100%
    height:auto;
	
}

.gallery .gallery-thumbnails img {
    width:100px;
    height:75px;
    margin: 3px 10px 10px 0;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

.gallery .gallery-thumbnails img:hover {
    opacity: .8;
    cursor: pointer;
}

.gallery .preview img#preview {
    padding: 1px;
    max-width: 100%;
    height: auto;
    margin: 0 auto !important;
    display: block !important;
}


#footeri{
	
	font-size:2em;
}
#blockquote{
	
	border: 10px dashed; 
}

#heart{
	
	font-size: 5em;
}

.borderh{
color:green;

}

body{
	background-color:orange;
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
	
}
nav, footer{
	background-color:aqua;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	max-width: 100%
}
#navfont{
	font-size: 	2.625em;
	
	
}


h1{
	text-align: center;
}
main {
	max-width: 1200px;
	margin: 20px auto;
}

/* Vertical Navigation bar */


nav ul{
	list-style-type: none;
	text-align: center;
	margin-top:0;
	margin-bottom: 1rem;
}
nav li{
	display: inline;
}
nav a{
	text-decoration: none;
	padding-right: 10px;
}
nav a:link{
	color:White;
}
nav a:visited{
	color:Blue;
}
nav a:hover{
	color:Yellow;
}
nav a:active{
	color:black;
}

/* a:link Colors */

a:link{
	color:purple;
}
a:visited{
	color:purple;
}
a:hover{
	color:blue;
}
a:active{
	color:black;
}

i.fa{
	
color:black;
font-size: 12em;

footer{
	text-align: center;
	border-top: 1px solid gray;
	padding: 10px;
}



/*CSS for Tablets */

@media only screen and (max-width:1024px){
	h1{
		font-size: 2em;
	}
}

/*CSS for Smartphones */

@media only screen and (max-width:768px){
	h1{
		font-size: 1.5em;
	}
}



